

  
  .styles_InputText__450nG {
    border: 1px solid transparent;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(26, 26, 67, 0.1);
    background-color: #fff;
    border-radius: 6px;

 
  }

  .styles_LabelTitleText__1RD_E {
    opacity: 0;
    width: 100%;
  }
  
  .styles_LabelTitleText__1RD_E.styles_center__2_RcD,
  .styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_label__1ilIC,
  .styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_link__1DK_H,
  .styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_text__E23BU,
  .styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_title__1TzMX {
    text-align: center;
  }
  
  .styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_label__1ilIC,
  .styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_text__E23BU,
  .styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_title__1TzMX {
    margin-left: auto;
    margin-right: auto;
  }
  
  .styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_text__E23BU {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .styles_LabelTitleText__1RD_E.styles_center__2_RcD .styles_links__Ud9_O {
    justify-content: center;
  }
  
  .styles_LabelTitleText__1RD_E.styles_small__9boGe .styles_title__1TzMX {
    margin-bottom: 12px;
  }
  
  .styles_LabelTitleText__1RD_E.styles_small__9boGe .styles_text__E23BU {
    margin-bottom: 39px;
  }
  
  .styles_LabelTitleText__1RD_E.styles_ctaBanner__GkDO6 .styles_title__1TzMX {
    margin-bottom: 24px;
  }
  
  .styles_LabelTitleText__1RD_E.styles_ctaBanner__GkDO6 .styles_text__E23BU {
    margin-bottom: 40px;
  }
  
  .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_label__1ilIC,
  .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_link__1DK_H,
  .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_text__E23BU,
  .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_title__1TzMX {
    text-align: center;
  }
  
  @media (min-width: 992px) {
  
    .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_label__1ilIC,
    .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_link__1DK_H,
    .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_text__E23BU,
    .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_title__1TzMX {
        text-align: left;
    }
  }
  

  .styles_Triangle__2-wAg {
    position: relative;
  }
  
  .styles_Triangle__2-wAg .styles_wrapper__CodYq {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  .styles_Triangle__2-wAg .styles_image__2nN29 {
    width: 100%;
    height: 100%;
  }
  
  .styles_Triangle__2-wAg.styles_withMobileDots__2WdO5 {
    display: block;
  }
  
  .styles_Triangle__2-wAg.styles_top-right___3ZTi .styles_image__2nN29 {
    transform: rotate(180deg);
  }
  
  .styles_Triangle__2-wAg.styles_top-right___3ZTi .styles_dots__2T1ot {
    transform: rotate(180deg);
    margin-left: 70px;
    margin-bottom: 30px;
  }
  
  .styles_Triangle__2-wAg.styles_top-right___3ZTi.styles_reversed__j4xVv .styles_wrapper__CodYq {
    flex-direction: row;
  }
  
  .styles_Triangle__2-wAg.styles_top-left__1mHyv .styles_image__2nN29,
  .styles_Triangle__2-wAg.styles_top-right___3ZTi.styles_reversed__j4xVv .styles_image__2nN29 {
    transform: rotate(90deg);
  }
  
  .styles_Triangle__2-wAg.styles_bottom-left__2DonM .styles_wrapper__CodYq {
    flex-direction: column-reverse;
  }
  
  .styles_Triangle__2-wAg.styles_bottom-left__2DonM .styles_image__2nN29 {
    transform: rotate(0);
  }
  
  .styles_Triangle__2-wAg.styles_bottom-left__2DonM .styles_dots__2T1ot {
    margin-top: 30px;
  }
  
  .styles_Triangle__2-wAg.styles_bottom-right__2ZCxl .styles_wrapper__CodYq {
    flex-direction: column-reverse;
  }
  
  .styles_Triangle__2-wAg.styles_bottom-right__2ZCxl .styles_image__2nN29 {
    transform: rotate(270deg);
  }
  
  .styles_Triangle__2-wAg.styles_bottom-right__2ZCxl .styles_dots__2T1ot {
    margin-top: 30px;
    margin-left: 30px;
    transform: rotateY(180deg);
  }
  
  .styles_Triangle__2-wAg .styles_dots__2T1ot {
    display: none;
    max-width: 140px;
  }
  
  @media (min-width: 992px) {
    .styles_Triangle__2-wAg .styles_dots__2T1ot {
        display: block;
    }
  }
  
  .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_links__Ud9_O {
    justify-content: center;
  }
  
  @media (min-width: 992px) {
    .styles_LabelTitleText__1RD_E.styles_mobileCenter__KkkGs .styles_links__Ud9_O {
        justify-content: flex-start;
    }
  }
  .styles_InputText__450nG.styles_focus__1lgMb {
    border: 1px solid #5857a2;
  }
  .styles_InputText__450nG.styles_focus__1lgMb input {
    color: #8D1CB8;
  }
  .styles_InputText__450nG.styles_focus__1lgMb input:-ms-input-placeholder {
    color: #8D1CB8;
  }
  .styles_InputText__450nG.styles_focus__1lgMb input::placeholder {
    color: #8D1CB8;
  }
  .styles_InputText__450nG.styles_focus__1lgMb svg path {
    opacity: 1;
    fill: #8D1CB8;
  }
  .styles_InputText__450nG svg {
    max-width: 14px;
  }
  .styles_InputText__450nG svg path {
    opacity: 1;
    fill: #13bb70;
  }
  .styles_InputText__450nG input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: Poppins, serif;
    font-size: 13px;
    font-weight: 400;
    background-color: transparent;
    border-radius: 6px;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;
    z-index: 1;
  }

  .styles_InputText__450nG .styles_icon__2MJKl {
    width: 14px;
    height: 14px;
  }
  .styles_AlgoliaArticles__3DXpK {
    position: relative;
    background-color: #f2f4ff;
    transform: translateZ(0);
  }
  .styles_AlgoliaArticles__3DXpK:after,
  .styles_AlgoliaArticles__3DXpK:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(#fff, #f2f4ff);
    z-index: -2;
  }
  .styles_AlgoliaArticles__3DXpK:before {
    height: 200px;
    top: 0;
    transform: translateY(-100%);
  }
  .styles_AlgoliaArticles__3DXpK:after {
    height: 400px;
    bottom: 0;
    transform: translateY(100%) scaleY(-1);
  }
  .styles_filterBar__jv2PA {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  @media (min-width: 768px) {
    .styles_filterBar__jv2PA {
      flex-wrap: wrap;
      flex-direction: row;
    }
    .styles_tagsResults__1UMb0 {
      display: flex;
      align-items: flex-start;
      margin: 20px 0 50px;
    }
  }
  .styles_tagsWrapper__Cw-Pg {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 16px;
  }
  @media (min-width: 768px) {
    .styles_tagsWrapper__Cw-Pg {
      margin-top: 0;
    }
  }
  .styles_multiSelectsWrapper__1WMcO {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    position: relative;
    transform: translateZ(1000px);
    z-index: 1;
  }
  @media (min-width: 768px) {
    .styles_multiSelectsWrapper__1WMcO {
      justify-content: flex-start;
      width: auto;
      min-width: 50%;
      margin-top: 0;
    }
  }
  .styles_multiSelect__2N3Ep {
    margin-top: 10px;
    width: calc(50% - 7px);
  }
  @media (min-width: 768px) {
    .styles_multiSelect__2N3Ep {
      margin-top: 0;
      width: auto;
    }
    .styles_multiSelect__2N3Ep:not(:last-child) {
      margin-right: 15px;
    }
  }
  @media (min-width: 992px) {
    .styles_multiSelect__2N3Ep:not(:last-child) {
      margin-right: 20px;
    }
  }
  .styles_search__2juEn {
    width: 100%;
  }
  @media (min-width: 768px) {
    .styles_search__2juEn {
      flex: 1 0 auto;
      width: 20%;
      min-width: min-content;
      max-width: 300px;
      margin-left: 15px;
    }
    .styles_search__2juEn.styles_full__2vO15 {
      width: 100%;
      max-width: none;
      margin-left: 0;
    }
  }
  @media (min-width: 992px) {
    .styles_search__2juEn {
      margin-left: 20px;
    }
  }
  .styles_results__1_39O {
    text-align: center;
    white-space: nowrap;
    margin: 32px 0 40px auto;
  }
  @media (min-width: 768px) {
    .styles_results__1_39O {
      text-align-last: right;
      margin: 0 0 0 auto;
    }
  }
  .styles_results__1_39O span {
    color: #8D1CB8;
  }
  
  .styles_container__163CK {
    padding: 140px 0 0;
  }
  @media (min-width: 992px) {
    .styles_container__163CK {
      padding: 170px 0 0;
    }
  }

  
  .styles_titleContainer__2TSrx {
    position: relative;
  }
 
  .styles_CardsGrid__2pV6O {
    width: 100%;
    margin: 50px 0 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 35px !important;
    justify-content: center;
    padding-bottom: 120px;
    position: relative;
    opacity: 0;
    transform: translateZ(0);
  }
  @media (min-width: 768px) {
    .styles_CardsGrid__2pV6O {
      margin: 85px 0 0;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .styles_CardsGrid__2pV6O {
      grid-template-columns: repeat(3, minmax(25%, 1fr));
    }
  }
  @media (min-width: 768px) {
    .styles_CardsGrid__2pV6O.styles_singleColumnOnTablet__1CxJs {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (min-width: 992px) {
    .styles_CardsGrid__2pV6O.styles_singleColumnOnTablet__1CxJs {
      grid-template-columns: repeat(3, minmax(25%, 1fr));
    }
  }


.liq-content h2:nth-child(1){
    color:#fff;
-webkit-text-stroke: 2px #8D1CB8;
filter: brightness(130%);
position: absolute;


}

.liq-content h2:nth-child(1):hover{
    -webkit-text-stroke: 2px #b73ee7;
    filter: brightness(130%);
   
}
.liq-content h2:nth-child(2){

    color:#8D1CB8 ;
    animation: liquid 2s ease-in-out infinite;

}

.liq-content h2:nth-child(2):hover{
    color:#b73ee7 ;
    filter: brightness(130%);
    

}
@keyframes liquid{


    0%,100%{
        clip-path: polygon(0% 45%,15% 44%,32% 50%, 54% 60% ,71% 61% , 84% 59%,100% 52%,100% 100% , 0% 100% ) ;
    }
    50%{

        clip-path: polygon(0% 60%, 61% 65% ,34% 66%,51% 62%,67% 50%,84% 45%,100% 46%,100% 100%, 0% 100%);
    }
}





.styles-list{
  opacity: 0;
  /* visibility: inherit;
  transform: translate(0px, 0px); */
  z-index: 1;
  display: block;
  min-width: 100%;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  position: absolute;
  top: calc(100% + 10px);
  left: 0px;

  animation: Animation  cubic-bezier(0.2, 0.82, 0.2, 1) alternate;
  animation-duration: .6s;
  animation-fill-mode: forwards ;
  animation-delay: 0.1s;
 
 
}

@keyframes Animation{
  0%{
      opacity: 0;
      transform: translateY(-10px);
  }
  100%{
      opacity: 1;
      transform: translateY(0px);
  }

}

.styles-list .list-background{
  transform-origin: 121.828px 0px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 10px 0 rgb(117 141 166 / 21%);
  background-color: #fff;
  color: #6514a0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-decoration: none;
  overflow: hidden;
}






.options .item{
  font-family: sans-serif;
  white-space: nowrap;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 10px 8px;
  box-sizing: border-box;
  user-select: none;
  border-radius: 3px;
  font-size: 17px;
  line-height: 22px;
  color: #8D1CB8;
  font-weight: 400;
  margin: 0 auto;
  
  
}

.options .item:hover{
  
  color: #6514a0;
  background-color: #f5f8ff;
  border-radius: 6px;
}

.options .item:focus-within{
  
  color: #6514a0;
  background-color: #f5f8ff;
  border-radius: 6px;
}

.options .item:focus .box{
  background-color: #6514a0;
  border: 1px solid #5857a2;
}
