.styles_Footer__2uyP7 {
    margin-top: 84px;
    padding-bottom: 25px;
    background: linear-gradient(359.75deg, #f2f4ff -63.96%, #fff 55.16%);
  }
  @media (min-width: 992px) {
    .styles_Footer__2uyP7 {
      padding-bottom: 60px;
    }
  }
  .styles_FullWidthCTABanner__3bVZg {
    position: relative;
    padding: 175px 0 100px;
  }
  @media (min-width: 768px) {
    .styles_FullWidthCTABanner__3bVZg {
      padding: 175px 50px 100px;
    }
  }
  .styles_background__3s4bX {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
  }
  @media (min-width: 992px) {
    .styles_background__3s4bX {
      width: 300px;
    }
  }

  .styles_ratio__1y_8X {
    position: relative;
    width: 100%;
  }
  .styles_img__1peOe,
  .styles_ratio__1y_8X.styles_fluid__3DtuD {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .styles_Img__2JZ2e {
    opacity: 0;
    visibility: hidden;
  }
  .styles_img__1peOe,
  .styles_ratio__1y_8X.styles_fluid__3DtuD {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .styles_contain__2jMbN {
    object-fit: contain;
  }
  .styles_center__1laxx {
    object-position: center;
  }

  .styles_IconLink__2QdfL.styles_big__OYuA2 .styles_hoverIconWrapper__1rbFJ,
  .styles_IconLink__2QdfL.styles_big__OYuA2 .styles_iconWrapper__vLdI5 {
    width: 23px;
    height: 23px;
  }
  .styles_hoverIconWrapper__1rbFJ,
  .styles_iconWrapper__vLdI5 {
    width: 100%;
    height: 100%;
    will-change: opacity;
  }
  .styles_hoverIconWrapper__1rbFJ {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .styles_hoverIconWrapper__1rbFJ:hover{
    opacity: 1;
  }


  .styles_icon__m53aM {
    width: 100%;
    height: auto;
  }

  .styles_ratio__1y_8X {
    position: relative;
    width: 100%;
  }

  .styles_MenuColumn__2GuQl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 40px;
    box-sizing: border-box;
  }
  .styles_MenuColumn__2GuQl .styles_sectionTitle__2wEts {
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .styles_MenuColumn__2GuQl:nth-child(odd) {
    padding-right: 20px;
  }
  @media (min-width: 992px) {
    .styles_MenuColumn__2GuQl {
      margin-bottom: 0;
      width: auto;
    }
  }

  .styles_wrapper__ucHyy {
    width: 83.3333333333%;
    max-width: 1200px;
    z-index: 1;
  }
  .styles_innerWrapper__18waN,
  .styles_wrapper__ucHyy {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }


  .styles_innerWrapper__18waN {
    max-width: 980px;
  }
  @media (min-width: 992px) {
    .styles_innerWrapper__18waN {
      width: 81.6666666667%;
    }
  }

  .styles_title__3kgAs {
    text-align: center;
  }

  .themes_dark__3hjQG {
    color: #8D1CB8;
  }


   
  .styles_actions__3Uuxg {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-top: 45px;
  }
  @media (min-width: 768px) {
    .styles_actions__3Uuxg {
      align-items: center;
      flex-direction: row;
    }
  }


  .styles_button__1OPuL {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
    transform: translateZ(1000px);
  }
  @media (min-width: 768px) {
    .styles_button__1OPuL {
      width: auto;
      max-width: none;
      margin: 0;
    }
  }
  .styles_button__1OPuL + .styles_button__1OPuL {
    margin-top: 20px;
  }
  @media (min-width: 768px) {
    .styles_button__1OPuL + .styles_button__1OPuL {
      margin-top: auto;
      margin-left: 40px;
    }
  }
  .styles_button__1OPuL a {
    width: 100%;
    box-sizing: border-box;
  }

  .styles_white__5wklN {
    background-color: #fff;
    color: #8D1CB8;
  }

  .styles_shadow__3eyWi {
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  .styles_small-padding__s-tUZ .styles_buttonLink__2SP9n {
    padding: 15px 14px;
  }

   .typography_Button__3B09N {
    font-family: Poppins, serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
  }

  .styles_content__3zgFt {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }
  @media (min-width: 768px) {
    .styles_content__3zgFt {
      flex-direction: row;
      align-items: flex-start;
      padding-bottom: 265px;
    }
  }

  .styles_leftContent__-13Pz {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1 1;
  }
  .styles_leftContent__-13Pz .styles_logo__3Wtms {
    flex: 1 0 auto;
    display: block;
    width: 120px;
  }
  .styles_leftContent__-13Pz .styles_logo__3Wtms img {
    width: 100%;
  }
  .styles_leftContent__-13Pz .styles_tagline__rXOd3 {
    margin-left: 40px;
  }
  @media (min-width: 768px) {
    .styles_leftContent__-13Pz {
      flex-direction: column;
      padding-right: 75px;
    }
    .styles_leftContent__-13Pz .styles_tagline__rXOd3 {
      margin-left: auto;
      margin-top: 40px;
    }
  }


  .styles_Logo__3ZwK8 {
    display: block;
  }
  .styles_Logo__3ZwK8 .styles_img__2d7oy {
    display: block;
    width: auto;
    height: 35px;
  }
 

  .typography_Text__21fWd {
    font-family: Poppins, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
  }
  @media (min-width: 992px) {
    .typography_Text__21fWd {
      font-size: 17px;
    }
  }
  .typography_Text__21fWd.typography_big__2HjNu {
    font-size: 17px;
    line-height: 1.5;
  }
  @media (min-width: 992px) {
    .typography_Text__21fWd.typography_big__2HjNu {
      font-size: 21px;
    }
  }
  .typography_Text__21fWd.typography_medium__Q--Rb {
    font-size: 17px;
    line-height: 1.5;
  }
  @media (min-width: 992px) {
    .typography_Text__21fWd.typography_medium__Q--Rb {
      font-size: 17px;
    }
  }
   .typography_Text__21fWd.typography_small__wcwpx {
    font-size: 15px;
    line-height: 22px;
  }
  @media (min-width: 992px) {
    .typography_Text__21fWd.typography_small__wcwpx {
      font-size: 15px;
    }
  } 
  .typography_Text__21fWd.typography_smaller__2CuhM {
    font-size: 13px;
    line-height: 19px;
  }
  @media (min-width: 992px) {
    .typography_Text__21fWd.typography_smaller__2CuhM {
      font-size: 13px;
    }
  }
  .typography_Text__21fWd.typography_extra-small__2vfcP {
    font-size: 12px;
    line-height: 19px;
  }
  .typography_Text__21fWd.typography_legend__12cYE {
    font-size: 11px;
    line-height: 18px;
  }


  .themes_gray__rNovr {
    color: #9c45da;
  }

  .styles_navigation__3QaKY {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1;
    margin-top: 40px;
  }
  @media (min-width: 768px) {
    .styles_navigation__3QaKY {
      margin-top: 0;
      flex: 4 1;
    }
  }
  @media (min-width: 992px) {
    .styles_navigation__3QaKY {
      flex-wrap: nowrap;
    }
  }
  .themes_dark__3hjQG {
    color: #8D1CB8;
  }

  .styles_MenuColumnLink__16PCC:not(:last-child) {
    margin-bottom: 12px;
  }

  .styles_link__1cbff {
    color: #9c45da;
  }
  .typography_FooterLink__TNGH_ {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1;
    text-decoration: none;
  }

  .styles_legals__oZBy1 {
    display: flex;
    width: 100%;
    border-top: 1px solid #e7edf1;
    padding-top: 30px;
    justify-content: space-between;
  }

  .styles_subLinks__KmUXH {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 992px) {
    .styles_subLinks__KmUXH {
      flex-direction: row;
    }
  }

  .styles_subLink__2wvm- {
    text-decoration: none;
  }
  @media (min-width: 992px) {
    .styles_subLink__2wvm- {
      margin-right: 30px;
    }
    .styles_subLink__2wvm-:last-child {
      margin-right: 0;
    }
  }
  .themes_gray__rNovr {
    color: #9c45da;
  }


  .styles_SocialLinks__3hAOF {
    display: flex;
    align-items: center;
  }
  .styles_SocialLinks__3hAOF .styles_text__3LtSh {
    margin-right: 16px;
  }
 
  .themes_blue-haze__9waJi {
    color: #c2c8d8;
  }

  .styles_IconLink__2QdfL {
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  .styles_IconLink__2QdfL.styles_big__OYuA2 {
    width: 43px;
    height: 43px;
    background-color: #e7edf1;
  }
  .styles_IconLink__2QdfL.styles_big__OYuA2 .styles_link__1-ery {
    max-width: 100%;
    max-height: 100%;
  }
  
  .styles_IconLink__2QdfL:last-child {
    margin-right: 0;
  }

  .styles_link__1-ery {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 20px;
    max-height: 20px;
  }
 
